<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>
      {% block title %}{% endblock %}
    </title>
    
    <!-- Load Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <!-- Load Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    <!-- Load our stylesheet -->
    <link rel="stylesheet" href="/static/css/base-styles.css">

    {% block head %}{% endblock %}

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          Balloonicorn's Lab Pair Making Machine
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active"><a class="nav-link" href="/view-cohorts" method="GET">View Cohorts & Students</a></li>
            <li class="nav-item active"><a class="nav-link" href="/add-cohort" method="GET">Add a Cohort</a></li>
            <li class="nav-item active"><a class="nav-link" href="/update-cohort" method="GET">Update Cohort</a></li>
            <li class="nav-item active"><a class="nav-link" href="/add-students" method="GET">Add a Student</a></li>
            <li class="nav-item active"><a class="nav-link" href="/update-students">Update Student</a></li>
            <li class="nav-item active"><a class="nav-link" href="/create-pairs">Create Lab Pairs</a></li>
            <li class="nav-item active"><a class="nav-link" href="/update-pair-experience">Log Pair Experience</a></li>
            <li class="nav-item active"><a class="nav-link" href="/update-pair">Update Lab Pair</a></li>
            <li class="nav-item active"><a class="nav-link" href="/view-cohort-pairs">View Cohort Pairs</a></li>
            <li class="nav-item active"><a class="nav-link" href="/view-student-pairs">View a Student's Pairs</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {% for msg in get_flashed_messages() %}
      <p class="flash-messages">
        {{ msg }}
      </p>
    {% endfor %}


    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>
