{% extends 'base.html' %}

{% block title %}Lab Pairs: Home{% endblock %}

{% block head %}{% endblock %}

{% block body %}

    <h2><a href="/view-cohorts" method="GET">View Cohorts & Students</a></h2>

    <h2><a href="/add-cohort" method="GET">Add a Cohort</a></h2>

    <h2><a href="/add-students" method="GET">Add Students</a></h2>

    <h2><a href="/update-students" method="GET">Update Student Data</a></h2>

    <h2>Create Lab Pairs</h2>

{% endblock %}

{% block after_body %}{% endblock %}
