{% extends 'base.html' %}

{% block title %}Lab Pairs: Update Student{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<h1>Update Student</h1>

<div>
    <form action="/update-students" method="POST">
        <p>
            <label for="student-id-input">Select a student:</label>
            <select id="student-id-input" name="student_id">
                <option value="" selected>Select a student</option>
                {% for cohort in cohorts|sort(attribute='start_date') %}
                    <optgroup label="{{ cohort.cohort_id }}">
                    {% for student in cohort.students|sort(attribute='fname') %}
                        <option value="{{ student.student_id }}">{{ student.fname }} {{ student.lname }}</option>
                    {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </p>

        <p>
            <label for="fname-name-input">First name:</label>
            <input type="text" id="fname-name-input" name="fname">
        </p>

        <p>
            <label for="lname-name-input">Last name:</label>
            <input type="text" id="lname-name-input" name="lname">
        </p>

        <p>
            <label for="tech-level-input">Tech level:</label>
            <select id="tech-level-input" name="tech_level">
                <option value="" selected>Select a number</option>
                {% for i in range(1, 11) %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </p>

        <p>
            <label for="discord-name-input">Discord name:</label>
            <input type="text" id="discord-name-input" name="discord_name">
        </p>

        <p>
            <label for="active-status-input">Active status:</label>
            <select id="active-status-input" name="active_status">
                <option value="" selected>Select status</option>
                <option value="active">Active</option>
                <option value="inactive">Not active</option>
            </select>
        </p>

        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
</div>

{% endblock %}

{% block after_body %}{% endblock %}