{% extends 'base.html' %}

{% block title %}Lab Pairs: Cohorts{% endblock %}

{% block head %}{% endblock %}

{% block body %}

    <ul>
    {% for cohort in cohorts|sort(attribute='start_date') %}
        <li>
            {{ cohort.cohort_id }}: {{ cohort.title }}<br>
            Dates: {{ cohort.start_date }} to {{ cohort.end_date }}<br>
            {{ cohort.students|length }} students{% if cohort.students|length > 0 %}:{% endif %}
            <ul>
                {% for student in cohort.students|sort(attribute='fname') %}
                    <li>
                        {{ student.fname }} {{ student.lname }} - Lvl: {{ student.tech_level }} - Status: {% if student.active == True %}Active{% else %}<strong>INACTIVE</strong>{% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>

{% endblock %}

{% block after_body %}{% endblock %}
