{% extends 'base.html' %}

{% block title %}Lab Pairs: Display Pairs{% endblock %}

{% block head %}
<style>ol.A {list-style-type: upper-alpha;}</style>
{% endblock %}

{% block body %}
<h1>New Lab Pairs</h1>

<p>
    {{ pair_date }} {{ lab.title }} lab pairs:
</p>

<div>
    <p>Malala:</p>
    {% set half_len = (pairs|length/2)|round|int %}
    <ol class="A">        
        {% for pair in pairs[:half_len] %}
            {% if pair|length > 2 %}
                <li>{{pair[0].fname}} & {{pair[1].fname}} & {{pair[2].fname}}</li>
            {% else %}
                <li>{{pair[0].fname}} & {{pair[1].fname}}</li>
            {% endif %}
        {% endfor %}
    </ol>
        
    <p>Ruth:</p>
    <ol class="A">
        {% for pair in pairs[half_len:] %}
            {% if pair|length > 2 %}
                <li>{{pair[0].fname}} & {{pair[1].fname}} & {{pair[2].fname}}</li>
            {% else %}
                <li>{{pair[0].fname}} & {{pair[1].fname}}</li>
            {% endif %}
        {% endfor %}
    </ol>
</div>


{% endblock %}

{% block after_body %}{% endblock %}